header{
    position: fixed;
    background-color:rgb(0,0,0) ;
    width: 100%;
    height: 70px;
   


}
body{
    background-color: rgb(54, 48, 48);
    color: white;
}
*{
    margin: 0;
    padding: 0;
}
nav>.navbar{
    display: flex;
   margin: 10px 20px;
   justify-content: space-between;
   align-items: center;
    align-content: center;
}
nav .navbar .btn{
  display: flex;
  justify-content: end;
}

 .nav_logo>img{ 
   width: 20%;
}
.btn>.search{
    font-size: 17px;
    background-color:rgb(0,0,0);
    padding-left: 10px;
     border-color: aliceblue;
     border-radius: 0.5ch;
     box-sizing: 20px;
     padding-right: 25px;
     margin-right: 30px;
     color: white;
     /* position: absolute; */

}
.btn >div{
    align-items: flex-end;
    text-align: right;
}
.btn>.signin{
    background-color: blueviolet;
    color: white;
    font-size: 17px;
    padding: 10px 22px;
    align-items: center;
    border-radius: 1ch;
    padding-top: 5px;
    
   
}
.signin>a{
    color: antiquewhite;
    text-decoration: none;
}
/* 
@media all and (min-width:300px) and (max-width :900px) {
    header{
        width:50%;
    }
    .btn>.signin{
        width: 70%;
       
    }
} */


/* /////////// */
#tasks{
    display: grid;
     grid-template-columns: repeat(300px,1fr);
    /* grid-template-rows:repeat( 300px 1fr); */
    margin: auto;
    justify-content: center; 
}
#tasks>.movie>img{
    width: 30%;
}


/* /////////////////// */
/* footercss */

*{
    margin: 0;
    padding: 0;
}
.parent{
    
  width: 100%;
  height: 100px;
  vertical-align: middle;
  background-color: #151517;
  overflow: hidden;
  position: relative;
 
}
.child{
    width: 130px;
    height: 30px;
    background-color: white;
    font-weight: bolder;
    position:absolute;
    border-radius: 5px;
 right:35px;
 bottom:50px;

}
.parent>h3{
    color: #EEEEEE;
    margin-top: 30px;
    margin-left: 30px;
}
.parent>p>a{
    text-decoration: none;
    color: #1a6ece;
}
.parent>p{
    color: #A5A5A6;
    margin-left: 30px;
}
h4{
    margin-top:5px;
    text-align: center;
    color:black;
  
}
#right{
    text-align: right;
    margin-top: 10px;
    color: #A5A5A6;
    margin-right: 20px;
}
.parent{
    position:fixed;
    bottom: 0;
}




/* ///////////////////////////////////////////////////////////////////////// */

/* search functinality */
#diksha{
    background-color: blueviolet;
    padding: 0px 22px;
    color:white;
   font: size 30px;
   
    border:none;
    border-radius:1ch;
}

body{
    background-color: rgb(54, 48, 48);
    color:white;
}

main{
    padding-top:100px;
    margin: auto;
}
#heading{
    margin-left: 20px;
    margin-bottom: -10px;
}

#tasks{
    width: 100%;
    margin-top: 25px ;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    gap: 10px;
}

#tasks:hover{
    cursor: pointer;
}

#smallCards{
    margin: auto;
    width: 95%;
    height: 95%;
   /* border: 1px solid #ff0000; */
     border-radius: 18px; 
}
#imgPoster{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
